/*FONT*/

*{
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body{
    margin: 0;
}

/*NAVBAR*/

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

/*Logo Booki*/

.logo{
    margin-right: auto;
    padding: 0 2rem;
    height: 2.813rem;
    cursor: pointer;
}

nav a{
    font-size: 25px;
    color: black;
    text-decoration:none;
    padding: 2rem;
    border-top: 3px solid transparent;
}

nav a:hover{
    border-top-color: blue;
}

.sub-nav{
    display: flex;
}

.sub-nav a:hover{
    color: blue;
}

/*Media*/

@media (max-width: 800px){
    .sub-nav{
        flex-basis: 100%;
    }

    .sub-nav a{
        flex-basis: 50%;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }

    .sub-nav a:hover{
        border-bottom-color: blue;
        border-top-color: transparent;
    }

    .logo{
        margin-right: auto;
        margin-left: auto;
    }
}

/*BODY*/

/*HEADINGS*/

.title-h1{
    font-size: 25px;
}

.search{
    padding: 0 2rem;
}

.search h1,
.search p{
    margin-bottom: 1rem;
}

/*SEARCH-FORM*/

.search-form{
    display: flex;
}

.icon-location{
    padding: 1rem 1.2rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0rem 0rem 1rem;
    cursor: pointer;
}

.search-form input{
    padding-right: 3rem;
    border: 1px solid #f2f2f2;
}

.search-form input::placeholder{
    font-size: 1rem;
    text-align: center;
    color: black;
}

.fas.fa-search{
    display: none;
}

.search-form button{
    border: none;
    color: white;
    background-color: rgb(0, 110, 255);
    border-radius: 0rem 1rem 1rem 0rem;
    font-size: 1.2rem;
    padding: 0 1.5rem;
    cursor: pointer;
}


@media (max-width: 800px){
    .search-form .search-text{
        display: none;
    }

    .fas.fa-search{
        display: inline;
    }

}

/*FILTERS*/

.filters{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.filters h1{
    margin-bottom: 0;
}

.filter{
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter .fas{
    color: blue;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter a{
    font-weight: bold;
    padding: 0 1rem;
}

.filter:hover{
    background-color: var(--lighterblue);
    transform: scale(1.02);
}

/*SEARCH RESULTS*/

.search-results{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-results .fas{
    color: blue;
    width: 2rem;
    height: 2rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*APARTEMENTS LIST*/
.apartments-list{ 
    display: flex;
    gap: 1rem;
}

.apartments-list div{
    border: 1px solid red;
    background-color: #f2f2f2;
}